@model IEnumerable<M17E_TrabalhoModelo_2021_22.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<!-- paginação https://github.com/TroyGoode/PagedList -->

@using PagedList.Mvc;
@using PagedList;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.umapagina)
    {
        <tr>
            <td>
                @{
                    string ficheiro = Server.MapPath("~/Fotos/" + item.ClienteID + ".jpg");
                    if (System.IO.File.Exists(ficheiro))
                    {
                        <img src="@Url.Content(String.Format("~/Fotos/{0}.jpg", item.ClienteID))" width="150" />
                    }
                }
            </td>
            <td>
                @item.Nome
            </td>
            <td>
                @item.Morada
            </td>
            <td>
                @item.CP
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Telefone
            </td>
            <td>
                @item.DataNascimento
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClienteID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClienteID }) |
                @if (Request.IsAuthenticated && User.IsInRole("Administrador"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClienteID })
                }
            </td>
        </tr>
    }

</table>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)ViewBag.umapagina, page => Url.Action("Index", new { page }))